@use '../../styles/tokens' as *;

.root {
  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: $button-radius;
  cursor: pointer;
}

.primary {
  @include button-base($primary-background-color);
}

.secondary {
  @include button-base($secondary-background-color);
}

.danger {
  @include button-base($danger-background-color);
}

.sizeSm {
  @include button-size(32px, 12px, 6px, $size-sm);
}

.sizeMd {
  @include button-size(40px, 14px, 8px, $size-md);
}

.sizeLg {
  @include button-size(48px, 16px, 10px, $size-lg);
}
