@use '../../styles/tokens' as *;

.primary {
  background-color: $primary-background-color;
  border-radius: $button-radius;
  &:hover {
    opacity: 0.8;
  }
}

.secondary {
  background-color: $secondary-background-color;
  border-radius: $button-radius;
  &:hover {
    opacity: 0.8;
  }
}

.danger {
  background-color: $danger-background-color;
  border-radius: $button-radius;
  &:hover {
    opacity: 0.8;
  }
}

.size-sm {
  font-size: $size-sm;
}

.size-md {
  font-size: $size-md;
}

.size-lg {
  font-size: $size-lg;
}
